<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
  <h1>Signup</h1>
  <form method="POST">
    <label>Username:</label>
    <input type="text" name="username" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <label>
      <input type="checkbox" name="dog_free">
      I swear I am dog-free and will remain dog-free.
    </label><br>

    <label>Why are you dog-free?</label><br>
    <textarea name="dog_free_reason" rows="3" cols="30" placeholder="Ex: Allergic,
    prefer cats, just not into dogs..."></></textarea><br><br>

    <input type="submit" value="Sign Up">
  </form>

</body>
</html>